@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f9fafb;
}

/* Esto es para que el mapa ocupe todo su contenedor */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}